
.content {
  background-color: #7B1FA2;
  display: block;
  display: flex;

  .mat-form-field {
    margin: 8px 20px 8px auto;
    width: 90px;

    ::ng-deep .mat-form-field-wrapper {
      padding: 0;
    }
  }

}
